# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Entornos virtuales
.venv/
venv/
ENV/
env/

# Variables de entorno locales
.env
.env.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db

